@charset "UTF-8";
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

* **::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Прятать елементи(текст,иконки)*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.style-container {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*пункты работы */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*Модальное окно*/
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: #2196F3;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: #2196F3;
}

/*Стили модального окна */
.modal__p {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-bottom: 10px;
}

.modal-labels {
  margin-bottom: 20px;
}

.modal-label__spans {
  display: block;
  position: relative;
}

.modal-label__span {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal-label__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label__input:focus {
  outline: none;
  border-color: #2196F3;
}
.modal-label__input:focus:focus + .modal-label__svg {
  fill: #188CE8;
}

.modal-label__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;
}
.modal-label__textarea:focus {
  border-color: #2196F3;
  outline: none;
}

.modal-label__textarea::placeholder {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  fill: #212121;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label__button-link {
  display: flex;
  margin: auto;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  outline: none;
}
.modal-label__button-link:focus {
  background-color: #188CE8;
}

.modal-form-chek-deck {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
}
.modal-form-chek-deck::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #212121;
  margin-left: 14px;
}
.modal-form-chek:checked + .modal-form-chek-deck::before {
  background-color: #188CE8;
  background-image: url(../images/Vector.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}
.modal-form-chek:focus + .modal-form-chek-deck::before {
  background-color: #188CE8;
  background-image: url(../images/Vector.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
  cursor: pointer;
}

/*Лого страници*/
.info_main {
  background: #FFFFFF;
  font-family: "Roboto", "Raleway";
}

.webStudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
  outline: none;
}

.colorweb {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
}

.studio {
  font-family: 0;
  font-style: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196F3;
}

.portfolio {
  font-family: 0;
  font-style: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  width: 77px;
  height: 16px;
  margin-bottom: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio.current {
  color: #2196F3;
}

.labe::after {
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  border: 1px solid #2196F3;
  border-radius: 2px;
  background: #2196F3;
}

.contakts {
  font-family: 0;
  font-style: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  width: 68px;
  height: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_info {
  font-family: 0;
  font-style: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  color: #757575;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link_info:hover, .link_info:focus {
  color: #2196F3;
}

.stydi-link {
  margin-right: 50px;
}

.stydi-link:last-child {
  margin-right: 0;
}

/*Шапка*/
.lost:hover,
.lost:focus {
  color: #2196F3;
}

.header-solid {
  border: 1px solid #EEEEEE;
}

.nav-style {
  display: flex;
}

.style-studio {
  display: flex;
  list-style: none;
}

.style-info {
  display: flex;
  margin-left: auto;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.activity {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: none;
}

.activitys {
  display: flex;
  margin-right: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: none;
}

.activity:last-child {
  margin-right: 0;
}

.dio {
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

/*кОНТАКТ пИСЬМО И Телефон*/
.svg-link {
  margin-right: 10px;
  fill: currentColor;
}
.svg-link:hover, .svg-link:focus {
  fill: #2196F3;
}

.style-mailto {
  margin-right: 30px;
}
.style-mailto:last-child {
  margin-right: 0;
}

/*Еффективное решение*/
.style_round {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  color: #FFFFFF;
  width: 690px;
}

.style__section {
  padding: 200px 0;
  text-align: center;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

/*Кнопка*/
.style-button__info_button {
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  margin: auto;
  text-align: center;
  border: none;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.style-button__info_button:hover, .style-button__info_button:focus {
  background: #188CE8;
}

.style__button {
  display: block;
  margin-top: 30px;
}

/*Пункты в работе*/
.info_team {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text_team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.work_team {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.id_team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.skil_team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}

.style-paragraph {
  width: 270px;
  margin-right: 30px;
}
.style-paragraph:last-child {
  margin-left: 0;
}

.paragraph {
  display: flex;
  list-style: none;
}

.icon::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.icon:nth-child(1)::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon:nth-child(4)::before {
  background-image: url(../images/astronaut\ 1.svg);
}

/*чем занимаемся */
img {
  display: block;
}

.style-work {
  display: flex;
  list-style: none;
}

.style-img {
  position: relative;
  margin-right: 30px;
}
.style-img:last-child {
  margin-right: 0;
}

.style-works {
  padding-top: 0;
}

.style-p {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

/*Наша команда svg*/
.llll {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  margin-bottom: 30px;
}

.rrrr {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.tttt {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  justify-content: center;
  position: relative;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tttt:hover, .tttt:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.yyyy {
  display: block;
  width: 20px;
}

.info-team {
  display: flex;
  list-style: none;
}

.team-id {
  margin-right: 30px;
}
.team-id:last-child {
  margin-right: 0;
}

.style-id {
  margin-top: 30px;
  text-align: center;
}

.style-skill {
  margin-top: 10px;
  text-align: center;
}

.style-teams {
  background: #F5F4FA;
  margin: 0 auto;
}

/*Постояные кленты*/
.client {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.client-korop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.client-info {
  width: 170px;
  height: 92px;
  list-style: none;
}
.client-info:last-child {
  margin-right: 0;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  fill: #AFB1B8;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.client-link:hover, .client-link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

/*Подвал*/
.container-web__styly-ly {
  margin-bottom: 10px;
  margin-right: 70px;
  list-style: none;
}

.styly-ly:last-child {
  margin-bottom: 0;
}

.container-web__webStudio_2 {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.container-web {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-web__style-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: white;
}

.container-web__link_infos {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.link_street {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/*Подвал дополнительное*/
.container__footer {
  display: flex;
  text-align: baseline;
}

.a_studio {
  list-style: none;
}

.a_studios {
  margin-left: 70px;
  list-style: none;
}

.link-list {
  display: flex;
}

.footer-links__lllls {
  display: flex;
  gap: 10px;
  list-style: none;
}

.footer-links__tttts {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer-links__tttts:hover, .footer-links__tttts:focus {
  background-color: #2196F3;
}

.footer-links__yyyys {
  display: flex;
  width: 20px;
}

.p-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 14px;
}

/* Підпишіться на розсилку*/
.modal__mailing-list {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 14px;
}

.modal__mailing-lists {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  width: 358px;
  height: 50px;
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  cursor: pointer;
  padding: 15px 16px;
  margin-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__mailing-lists:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-mailing-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 62px 10px 28px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transform: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-mailing-button:hover, .modal-mailing-button:focus {
  background-color: #188CE8;
}

.svg-mailing {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 28px;
  transform: translate(0, -50%);
}

.footer__links {
  margin-right: 93px;
}

.modal__mailing-span {
  position: relative;
}

.modal-mailing-lists::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

/*СТИЛИ ВТОРОЙ СТРАНИЦИ*/
/*Кнопки*/
.buttons-skill__info_buttons {
  padding: 6px 22px 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.buttons-skill__info_buttons:hover, .buttons-skill__info_buttons:focus {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.container__style-buttons {
  display: flex;
  justify-content: center;
}

.container__buttons-skill {
  margin-right: 8px;
  list-style: none;
}
.container__buttons-skill:last-child {
  margin-right: 0;
}

/*Портфолио Стулий*/
.studio_style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.portfolio_style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.poster__style-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.poster__style-skill {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.poster-styles {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__work-p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  bottom: 0px;
  top: 0px;
  right: 0px;
}
.overlay:hover .overlay__work-p {
  transform: translateY(0);
}

.container__studio-work {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.container__team-ids {
  margin-right: 30px;
  margin-bottom: 30px;
  list-style: none;
}
.container__team-ids:hover, .container__team-ids:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
.container__team-ids:nth-child(3n+3) {
  margin-right: 0;
}
.container__team-ids:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.poster {
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-radius: 0px 0px 4px 4px;
}/*# sourceMappingURL=main.css.map */