

/*Кнопка*/
.style-button__info_button{
    margin-top: 30px;
    @include name('Roboto',normal ,700 ,16px ,1.9, 0.06em );
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    text-align: center;
    border: none;   
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    &:hover,
    &:focus{
    background:#188CE8;
}
}
.style__button{
    display: block;
    margin-top: 30px;
}