
/*Подвал*/
.container-web__styly-ly{
    margin-bottom: 10px;
    margin-right: 70px;
    list-style: none;
 }
 .styly-ly:last-child {
     margin-bottom: 0;
 }
 .container-web__webStudio_2{
     display: block;
     margin-bottom: 20px;
     @include name('Raleway',normal ,700 ,26px ,1.2, 0.03em );
    

      color: #2196F3;
  }
  .container-web{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
 
  .container-web__style-studio {
    @include name('Raleway',normal ,700 ,26px ,1.2, 0.03em );
     
    
      color: white;
      
  }
  
  .container-web__link_infos {
    @include name('Roboto',normal ,400 ,14px ,1.7, 0.03em );
    
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      transition:color 250ms cubic-bezier(0.4,0,0.2,1);
  
  }
  
  .info__footer {
      background: #2F303A;
      padding-top: 60px;
      padding-bottom: 50px;
      margin: 0 auto;
      
  }
  .link_street{
    @include name('Roboto',normal ,400 ,14px ,1.7, 0.03em );
   
          color: #FFFFFF;
  }
 /*Подвал дополнительное*/
 .container__footer{
     display: flex;
    text-align: baseline;
 
 }
 .a_studio{
     list-style: none;
     
    
 }
 .a_studios{
     margin-left: 70px;
     list-style: none;
 }
 .link-list{
     display: flex;
 }
 .footer-links__lllls{
     display: flex;
     gap: 10px;
      list-style: none;
      
  }
  .footer-links__tttts{
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.1);
      fill:#FFFFFF;
      justify-content:center;
      transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
      outline: none;
      &:hover,
      &:focus{
         background-color: #2196F3;
         
     }
      
  }
  .footer-links__yyyys{
    display: flex;
    width: 20px;
  
  }
 
 
 .p-link{
    @include name('Roboto',normal ,700 ,14px ,1.14, 0.03em );
    
    
     text-transform: uppercase;
     color: #FFFFFF;
     margin-bottom: 20px;
     justify-content: center; 
     margin-top: 14px;
 }
 /* Підпишіться на розсилку*/
 .modal__mailing-list{
     display: flex;
     @include name('Roboto',normal ,700 ,14px ,1.14, 0.03em );
   
     text-transform: uppercase;
 
     color: #FFFFFF;
     margin-top: 14px;
 }
 .modal__mailing-lists{
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     width: 358px;
     height: 50px;
     margin-bottom: 20px;
     justify-content: center; 
     margin-top: 20px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     background: #2F303A;
     cursor: pointer;
     padding: 15px 16px;
     margin-right: 12px;
     transition:  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     outline: none;
     &:focus{
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
 }

 .modal-mailing-button{
    @include name('Roboto',normal ,700 ,16px ,1.87, 0.06em );
    

     align-items: center;
     text-align: center;
     
 
     color: #FFFFFF;
     padding: 10px 62px 10px 28px;
     background-color: #2196F3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: none;
     cursor: pointer;
     transform: background-color;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     outline: none;
     &:hover,
     &:focus{
     background-color:#188CE8;
 }
 }

 .svg-mailing{
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 50%;
     right: 28px;
     transform: translate(0,-50%);
    
 }
 .footer__links{
 margin-right: 93px;
 
 }

 .modal__mailing-span{
     position: relative;
    
 }
 .modal-mailing-lists::placeholder{
    @include name('Roboto',normal ,400 ,16px ,1.25, 0.03em );
    
    
     align-items: center;
     color: rgba(255, 255, 255, 0.6);
 }
