/*чем занимаемся */
img{
    display: block;
}
.style-work{
    display: flex;
    list-style: none;
}
.style-img{
    position: relative;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.style-works{
    padding-top: 0;
    
}
.style-p{

    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    @include name('Roboto', normal, 700, 14px , 1.14, 0.03em );
   
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8); 
}