/*Портфолио Стулий*/
.studio_style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}
.portfolio_style{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.style_work{
    
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.style_skill{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;

    letter-spacing: 0.03em;

    color: #757575;
}
.poster-styles{
   
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    
}

.overlay{
    position: relative;
    overflow: hidden;
}
.work-p{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 63px 24px;
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    bottom: 0px;
    top: 0px;
    right: 0px;
}

.overlay:hover .work-p{
    transform: translateY(0);
}
.studio-work{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.team-ids {
    margin-right: 30px;
    margin-bottom: 30px;
}
.team-ids:hover,
.team-ids:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.team-ids:nth-child(3n+3){
    margin-right: 0;
}
.team-ids:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.poster-style{
   padding: 20px 24px 20px 24px;
   border: 1px solid #EEEEEE;
    border-radius: 0px 0px 4px 4px;
   
    
}

